body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	display: block;
	color: #000;
	padding-right: 20px;
	font-family: arial, sans-serif;
	font-size: 13px;
}

a:hover, a:active {
	text-decoration: underline;
}

.topNav ul, #footer-right {
	float: right;
}

#footer-left {
	float: left;
	padding-left: 25px;
}

.topNav ul, .footer ul {
	list-style: none;
	padding: 10px 15px;
	margin: 0;
}

.footer a {
	color: rgb(128, 128, 128);
}

li {
	float: left;
	vertical-align: middle;
	line-height: 28px;
}

#navbar {
	width: 100%;
	height: 45px;
}

#apps {
	width: 30px;
	height: 28px;
	background-image: url(https://ssl.gstatic.com/gb/images/i1_71651352.png);
	background-repeat: no-repeat;
	background-position: -98px -55px;
	opacity: 0.55;
	margin-top: -4px;
	padding-right: 0;
	margin-right: 15px;

}

.signin-button {
	color: #fff;
	background-color: rgb(30, 136, 229);
	border-radius: 5%;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	padding: 0 15px;
}

.search-content {
	padding: 140px 20px 22px 20px;
}

.search-content img, #form {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.searchbox {
	border-radius: 0;
	font-weight: normal;
	font-size: 15px;
	text-align: right;
	color: rgb(200, 200, 200)!important;
	padding: 1px 5px;
}

input {
	border-radius: 5%;
	line-height: 27px;
	border: 1px solid rgb(220, 220, 220);
	font-size: 11px;
	font-weight: bold;
	color: #444!important;
}

.searchbutton {
	margin: 14px 6px;
	padding: 0 8px;
	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);

}

.searchbutton:hover {
	border-color: #c6c6c6;
	color: #222!important;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	background: #f8f8f8;
	background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background: linear-gradient(top,#f8f8f8,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1);
}

footer {
	background-color: rgb(242, 242, 242);
	width: 100%;
	height: 45px;
	border-top: 1px solid rgb(220, 220, 220);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
}